<!-- Modal history -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" id="headerVista">
  </div>
</div>

<div id="seccAlert" class="alert alert-danger" role="alert" style="display: none;">
  <h4 class="alert-heading">Atención!</h4>
  Hay un problema con la conección, revise los últimos items digitados.<br><a id="itemAlert" href="#" class="alert-link">De click aquí</a> para reintentar. No reinicie la página pues se perderá la información pendiente.
</div>
<!-- cards container -->
<div class="accordion" id="accordionPanel">
  <div id="cardsContainer">

  </div>
</div>
<script src="/js/despachos.js"></script>