<div class="row ">
    <!--  filtros  -->
    <div class="col mt-4">
        <div id="containerFilter">
            
  
        </div>
    </div> 
    <!--  COLOMNA documentos  -->
    <div id="containerDocs" class="col-6 bg-dark bg-opacity-10 mt-4"> 
        <h5>Seleccione el periodo</h5>
        <table class="table">
            <tr>
                <td><label for="inFecha1">Fecha de inicio</label></td>  
                <td><input type="date" name="" id="inFecha1"></td>    
                
            </tr>
            <tr>
                <td><label for="inFecha2">Fecha final</label></td>  
                <td><input type="date" name="" id="inFecha2"></td>
                
            </tr>
            <tr>
                <td><label for="inSample">Limite de muestra</label></td>  
                <td><input type="number" name="" id="inSample"></td>
                
            </tr>
                
                
                
        </table>


    </div>
</div>


<script src="/js/reports.js"></script>