<div class="row mt-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                Crear una cuenta de usurio
            </div>
            <div class="card-body">
                <form action="/terceros/signup" method="POST" class="d-grid gap-2">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" name="phone" placeholder="C.C." value="{{phone}}">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group mb-2">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar password">
                    </div>
                    <button class="btn btn-primary ">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>function init(){};function afterLoad(){};function renderTable(){}</script>