<h6 class="header-item">Ventas</h6>
    <ul class="list-unstyled px-2 ">
        
        <li class=" "><a href="/ventas/pedidos" class="text-decoration-none   item-menu"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Pedidos</a></li>
        
        {{#if admin}}
            <li class=""><a href="/ventas/despachos" class="text-decoration-none item-menu"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Despachos</a></li>
            <li class=""><a href="/orders/resum" class="text-decoration-none item-menu"><i class="fa fa-cogs" aria-hidden="true"></i> Pendientes</a></li>
        {{/if}}
        {{#if false}}
            <li class=""><a href="#" class="text-decoration-none d-flex justify-content-between item-menu">
              <span><i class="fa fa-comment-o" aria-hidden="true"></i> Mesages</span>
              <span id="lblMsg" class="bg-dark rounded-pill text-white py-0 px-2">20</span>
              </a>
            </li>
        {{/if}}
    </ul>
{{#if admin}}
<h6 class="header-item">Admin</h6>
    <ul class="list-unstyled px-2 ">
        <li class=""><a href="/api/editor" class="text-decoration-none item-menu"><i class="fa fa-book" aria-hidden="true"></i> Editar docs.</a></li>
        <li class=""><a href="/api/reports" class="text-decoration-none item-menu"><i class="fa fa-list-ul" aria-hidden="true"></i> Informes</a></li>
    </ul>


{{/if}}
{{#if operario }}

<h6 class="header-item">Fabrica</h6>
    <ul class="list-unstyled px-2 ">
        <li class=""><a href="/produccion/almacen" class="text-decoration-none item-menu"><i class="fa fa-sitemap" aria-hidden="true"></i> Almacen</a></li>

        <li class=""><a href="/produccion/planillas" class="text-decoration-none item-menu"><i class="fa fa-calculator" aria-hidden="true"></i> Producción</a></li>
        
        <li class=""><a href="/produccion/formulas" class="text-decoration-none item-menu"><i class="fa fa-flask" aria-hidden="true"></i> Formulas</a></li>
    </ul>

{{/if}}
{{#if panel.boton-pagination}}   

<div id="form-filtro">
    <a id="btn-refrescar"class="btn btn-sm btn-success d-block" href="#"><i class="fa fa-refresh"></i> Refrescar</a>
    <div id="seccOrdenar">
    <h6 class="header-item mt-2">Ordenar por</h6>  
    <ul class="list-unstyled px-2 ">
        <select id="ordenpor" class="form-select" >
        </select>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkAsc" checked>
            <label class="form-check-label" for="checkAsc">Ascendente</label>
        </div>
        <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="checkDsc" >
              <label class="form-check-label" for="checkDsc">Descendente</label>
        </div>
    </ul>
    </div>
<h6 class="header-item">Filtrar por</h6>  
    <ul class="list-unstyled px-2 ">
        <select id="filtroPor" class="form-select"  >
        </select>
        <input id="in_search" class="form-control me-1" type="search" placeholder="filtro" aria-label="Search">
        <hr class="dropdown-divider">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Items por pág.</span>
          <input id="in-itempag" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </ul>
</div>    
{{/if}}   