<!-- cards container -->
<div class="text-center"><h4 id="titulo1"></h4></div>
<div class="accordion accordion-flush" id="accBody1">
</div>
<div class="text-center"><h4 id="titulo2"></h4></div>
<div class="accordion accordion-flush" id="accBody2">
</div>
<div class="text-center"><h4 id="titulo3"></h4></div>
<div class="accordion accordion-flush" id="accBody3">
</div>

<script src="/js/pendientes.js"></script>